%h1 Listing repositories

%table.table.table-striped
  %tr
    %th Name
    %th URL
    %th
    %th
    %th
  = render partial: "repository_controls", 
           collection: @repositories, as: :repository

%br

- if can? :create, :repository
  = link_to 'New Repository', new_repository_path
