<% [
     :name,
     :email,
     :phone,
     :url,
     :street_address,
     :abstract,
     :rights,
   ].each do |field|
   %>

<p>
  <b><%= field.to_s.humanize %>:</b>
  <%= @repository.send(field) %>
</p>

<% end %>

<%= link_to 'Edit', edit_repository_path(@repository) %> 
<%= link_to 'Back', repositories_path %>
