= render partial: 'fields/field',
         collection: [:name, :email, :phone, :url, :street_address, :abstract, :rights],
         locals: { model: @repository }

- if can? :edit, @repository
  = link_to 'Edit', edit_repository_path(@repository)
= link_to 'Back', repositories_path
