%p
  - if defined? field_label
    %b #{field_label}:
  - else
    %b #{field.to_s.humanize}:
  - if @record.send(field).is_a? Enumerable
    %ul
      = render partial: 'item',
               collection: @record.send(field)
  - else
    = render @record.send(field) rescue @record.try(field)
