= render partial: 'fields/field',
         collection: [:format, :kentucky_topic, :languages, :resource_type, :title, :creator, :date, :source, :subjects, :repository],
         locals: { model: @record }

= link_to 'Edit', edit_record_path(@record) 
= link_to 'Back', records_path
