= render partial: 'fields/field',
         collection: [:format, :kentucky_topics, :languages, :resource_type, :title, :creator, :date, :source, :subjects, :repository, :description, :publisher, :series_statement, :spatial_coverage],
         locals: { model: @record }

- if can? :edit, @record
  = link_to 'Edit', edit_record_path(@record) 
= link_to 'Back', records_path
